section.about-us--banner
  .row.middle-xs
    .col-xs-6.pl-10
      h1 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
section.about-us--description.text-align--center
  i.fas.fa-atom.pb-3
  .about-us--description-title.pb-4 Lorem ipsum dolor sit amet.
  .about-us--description-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
section.about-us--philoshophy.text-align--center
  img.about-us--philoshophy-bg(src="source/img/atom-bg.png")
  .about-us--philoshophy-container
    .about-us--philoshophy-title.pb-4 Lorem ipsum dolor sit amet.
    .row
      .col-lg-6
        .box-large.about-us--philoshophy-card.text-align--center
          img(src="source/img/mission.png")
          h4.pt-4 Misión
          p Somos una institución ubicada en la región caribe que produce y suministra radiofármacos de uso rutinario por parte de los servicios de medicina nuclear, en cumplimiento con la normatividad nacional vigente, contribuyendo al logro de mejores diagnósticos y tratamientos que permiten mejorar la calidad de vida de los pacientes oncológicos en el país; buscando la alta satisfacción en todas sus partes interesadas, comprometidos con practicas amigables para el medio ambiente altamente eficientes y enfocadas a la disminución de riesgos.
      .col-lg-6.row
        .box-large.about-us--philoshophy-card.text-align--center
          img(src="source/img/vision.png")
          h4.pt-4 Visión
          p Para el año 2020 RADIOFARMACIA DEL CARIBE S.A.S busca posicionarse como la radio farmacia líder en la región Caribe en la producción y suministro de radiofármacos a los servicios de medicina nuclear, expandiendo sus actividades a Latinoamérica con la incorporación de la dosificación de yodo, con el cumplimiento de estándares de calidad basados en la Norma ISO:NTC:9001:2015.
include ./source/includes/footer.pug
