.text-align {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
}

.text-family {
  &--titles {
    font-family: $font-family-titles;
  }
}

.text-transform {
  &--uppercase {
    text-transform: uppercase;
  }
}
