.home {
  &__banner {
    height: 100vh;
    position: relative;
    padding: 0 54px;
    overflow: hidden;
    &-container {
      padding: 147px 15px 0 15px;
      @media screen and (min-width: $screen-medium) {
        padding: 0 15px
      }
    }
    h1 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2em;
      @media screen and (min-width: $screen-small) {
        font-size: 3em;
      }
    }
    p {
      color: #37377c;
    }
    .row {
      height: 100%;
    }
    &--img {
      max-width: 65%;
      z-index: 1;
      margin: 0 auto;
      @media screen and (min-width: $screen-medium) {
        position: absolute;
        right: 104px;
        top: 100px;
        max-width: 30%
      }
      @media screen and (min-width: $screen-small) {
        max-width: 30%
      }
    }
    &--bg-img {
      height: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  &__values-card {
    margin-top: 30px;
    .card {
      box-shadow: $shadow-card;
      border: none;
      padding: 20px;
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &--icon {
      font-size: 24px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: $gradient-icon;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
