section.home__banner
  .row.middle-xs
    .col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-10.home__banner-container
      h1 Consectetur 
      h1 Adipisicing
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    img.home__banner--img(src="source/img/banner-img.png")
    img.home__banner--bg-img(src="source/img/background-ondulado.png")
section.home__values.container
  i.fas.fa-atom.pb-3.text--primary-icon
  .text--primary-title Nuestros Valores
  .text--primary-description Porque nuestros clientes nos prefieren
  .home__values-card.row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.mb-3
      .card
        .home__values-card--icon
          i.far.fa-smile-wink
        h6.pt-3 Lorem Ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.mb-3
      .card
        .home__values-card--icon
          i.far.fa-smile-wink
        h6.pt-3 Lorem Ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.mb-3
      .card
        .home__values-card--icon
          i.far.fa-smile-wink
        h6.pt-3 Lorem Ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    
