header
  nav.nav#nav
    button.menu
      em.hamburger
    .brand
      a(href="#")
        img(src="source/img/logo.jpg" width='100px')
    ul.navbar
      li
        a(href="#home") Home
      li
        a(href="#about") Conócenos
